@import "tailwindcss";

/* Theme variables */
:root {
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
}

/* Global body styles */
body,
html {
  @apply font-sans;
  overflow: hidden;
}
